
/* ------  */
/* HEADER  */
/* ------  */
header{
    background-color: #f8f9fa;
    height: 4.375rem;
    display: flex;
    align-items: center;
}

header a{
    font-size: 1.25rem;
    padding: 0 .625rem;
    color: #5b5858;
}

header a .fa-bell{
    color: #ff8f00;
}

header .-ms-icone-header{
    margin-left: .625rem;
}

header .-ms-serch{
    height: 3.125rem;
    background-color: #e5e5e5;
}





/* --------------- */




/* ----- */
/* MAIN  */
/* ----- */

/* ASIDE  */
aside ul{
    list-style: none;
    padding:0;
}
.-ms-aside {
    height: calc(100vh - 4.375rem);
    background-image: url("../img/sidebar-bg.png");
    background-color: #142b40;
}
aside a{
    font-size: 1.4rem;
    text-decoration: none;
    color: white ;
}
/* /ASIDE  */



/* INSTESTAZIONE MAIN  */
.-ms-isntestazione-main{
    background-color: #1b72e8;
}

.-ms-isntestazione-main .badge{
    background-color: #165bba;
}
/* /INTESTAZIONE MAIN  */



.ms-content{
    height: calc(100vh - 4.375rem);
    background-color: #f8f9fa;
}



/* ASIDE  */
aside li{
    padding: .25rem;
}

aside li:hover{
    background-color: rgba(0, 0, 0, 0.529);
    border-radius: .3125rem;
}
/* /ASIDE  */



/* OFFCANVAS  */
.offcanvas{
    width: 100% !important ; 
}

@media screen and (min-width:992px) {
    .offcanvas{
        width: 40% !important;
    }
}
/* /OFFCANVAS  */



/* TABELLA  */
table i{
    font-size: .8125rem;
}
/* /TABELLA  */



/* --------------- */


















