/* IMPORTAZIONI VARIABILI */
@import "variables.css";

header{
    background-color: #f8f9fa;
    height: 70px;
    display: flex;
    align-items: center;
}

aside ul{
    list-style: none;
    padding:0;
}

.ms-content{
    height: calc(100vh - 70px);
    background-color: #f8f9fa;
}

.-ms-aside {
    height: calc(100vh - 70px);
    background-image: url("../img/sidebar-bg.png");
    background-color: #142b40;
}

.-ms-isntestazione-main{
    background-color: #1b72e8;
}
.-ms-isntestazione-main .badge{
    background-color: #165bba;
}

aside a{
    font-size: 1.4rem;
    text-decoration: none;
    color: white ;
}

header a{
    font-size: 20px;
    padding: 0 10px;
    color: #5b5858;
}

header a .fa-bell{
    color: #ff8f00;
}
header .-ms-icone-header{
    margin-left: 10px;
}

header .-ms-serch{
    height: 50px;
    background-color: #e5e5e5;
}

table i{
    font-size: 13px;
}

.offcanvas{
    width: 100% !important ; 
}

@media screen and (min-width:992px) {
    .offcanvas{
        width: 40% !important;
    }
}

aside li{
    padding: 4px;
}

aside li:hover{
    background-color: rgba(0, 0, 0, 0.529);
    border-radius: 5px;
}

