/* IMPORTAZIONI VARIABILI */
@import "variables.css";

header{
    background-color: green;
    overflow: hidden;
    height: 70px;
    display: flex;
    align-items: center;
}

aside ul{
    list-style: none;
    padding:0;
}

.ms-content{
    height: calc(100vh - 70px);
    background-color: red;
}

.-ms-aside {
    height: calc(100vh - 70px);
    background-color: yellow;
}